@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input, textarea {
  border: none;
  border-radius: 0;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  padding: 19px;
  border-radius: 7px;
  resize: none;
  font-family: "Manrope";
  font-style: normal;
}

.no-scroll {
  overflow-y: hidden;
}

body {
  background: #F7F6FF;
  font-family: "Manrope";
  font-style: normal;
}
body .header {
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  height: 85px;
  padding: 8px 0 7px 0;
}
body .header .container {
  max-width: 1212px;
  padding: 0 15px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .header .container .logo {
  width: 325px;
  height: 70px;
  background-image: url(/img/logo.svg);
}
body .header .container .nav {
  display: flex;
  -moz-column-gap: 2em;
       column-gap: 2em;
}
body .header .container .nav a {
  font-weight: 500;
  font-size: 16px;
  color: #333333;
}
body .header .container .button {
  display: inline-block;
  background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
  border-radius: 9px;
  padding: 14px 33px 14px 42px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
body .info-container {
  width: 1187px;
  height: 325px;
  margin: 82px auto;
  display: flex;
  justify-content: space-between;
}
body .info-container .image {
  display: block;
  width: 573px;
  height: 325px;
  background: url(./../img/info-image.svg);
}
body .info-container .text {
  width: 517px;
  height: 248px;
  color: #333333;
}
body .info-container .text h1 {
  font-weight: 800;
  font-size: 45px;
}
body .info-container .text span {
  font-weight: 500;
  font-size: 55px;
  text-transform: uppercase;
}
body .info-container .text p {
  font-weight: 600;
  font-size: 16px;
  margin-top: 14px;
}
body .info-container .text__buttons {
  display: flex;
  margin-top: 29px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
body .info-container .text__buttons__button {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  background: #77B2D3;
  border-radius: 250px;
  line-height: 54px;
  padding: 0 30px;
}
body .stats-container {
  width: 1170px;
  height: 254px;
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  margin: 90px auto;
  padding-top: 40px;
  padding-left: 53px;
}
body .stats-container .text {
  display: block;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  color: #333333;
}
body .stats-container .stats-items {
  display: flex;
  -moz-column-gap: 63px;
       column-gap: 63px;
  margin-top: 35px;
  height: 88px;
  align-items: center;
}
body .stats-container .stats-items__line {
  display: block;
  border: 1px solid #C7C7C7;
  height: 86px;
  width: 1px;
}
body .stats-container .stats-items__item .top-text {
  font-weight: 800;
  font-size: 40px;
  background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 0;
  line-height: 48px;
}
body .stats-container .stats-items__item .top-text .lower {
  font-size: 30px;
  line-height: 48px;
}
body .stats-container .stats-items__item .top-text .bigger {
  font-size: 50px;
  line-height: 48px;
}
body .stats-container .stats-items__item .low-text {
  font-weight: 500;
  font-size: 16px;
}
body .services {
  width: 1170px;
  margin: 0 auto 90px auto;
}
body .services__title {
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
}
body .services__list {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  margin-top: 41px;
}
body .services__list__item {
  width: 220px;
  height: 453px;
}
body .services__list__item__card {
  position: relative;
  height: 378px;
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}
body .services__list__item__card__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  display: block;
  background: #77B2D3;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  padding: 11px 53px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 18px;
}
body .services__list__item__card li {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  margin-left: 16px;
  margin-bottom: 7px;
}
body .services__list__item__card li .success {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(./../img/list.svg);
  background-size: contain;
  margin-right: 7px;
}
body .services__list__item__card .price {
  position: absolute;
  width: 100%;
  bottom: 15px;
  display: flex;
  flex-direction: column;
}
body .services__list__item__card .price .bottom-line {
  width: 95%;
  margin: 0 auto;
  border: 1px solid #E2E2E2;
}
body .services__list__item__card .price__text {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
}
body .services__list__item__card .price__text__roubles {
  font-weight: 800;
  font-size: 30px;
  background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
body .services__list__item__button {
  display: block;
  background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
  border-radius: 9px;
  padding: 14px 33px 14px 42px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  margin: 15px auto;
  max-width: 195px;
  text-align: center;
}
body .consultation {
  width: 1170px;
  height: 513px;
  margin: 0 auto 112px auto;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
body .consultation__order {
  width: 570px;
}
body .consultation__order__title {
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
body .consultation__order__text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 22px;
}
body .consultation__order__name {
  display: inline-block;
  width: 270px;
  height: 59px;
}
body .consultation__order__number {
  display: inline-block;
  height: 59px;
  width: 270px;
  margin-left: 30px;
}
body .consultation__order__question {
  width: 570px;
  height: 141px;
  margin-top: 20px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: black;
}
body .consultation__order__accessibility {
  display: flex;
  align-items: center;
  margin-top: 20px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
body .consultation__order__accessibility__checkbox {
  width: 32px;
  height: 32px;
}
body .consultation__order__button {
  display: block;
  background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
  border-radius: 9px;
  padding: 14px 33px 14px 42px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  max-width: 195px;
  text-align: center;
  margin-top: 23px;
}
body .consultation__image {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
body .slider-container {
  width: 1291px;
  height: 518px;
  margin: 41px auto;
  position: relative;
}
body .slider-container .swiper-button-prev, body .slider-container .swiper-button-next {
  color: #D1D1D1;
}
body .slider-container .swiper {
  width: 1170px;
  height: 518px;
  margin-bottom: 50px;
}
body .slider-container .swiper-slide {
  width: 570px;
  height: 518px;
  background: #FFFFFF;
}
body .slider-container .swiper-slide__logo {
  display: flex;
  margin-top: 9px;
  margin-bottom: auto;
  margin-left: 23px;
  height: 112px;
  max-width: 50%;
  align-items: center;
}
body .slider-container .swiper-slide__description {
  margin-top: 4px;
  margin-left: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
body .slider-container .swiper-slide__result-block {
  background: #F3F1FE;
  margin-top: 24px;
  height: 161px;
}
body .slider-container .swiper-slide__result-block__title {
  padding-top: 21px;
  margin-left: 28px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
body .slider-container .swiper-slide__result-block__stats {
  display: flex;
  margin-left: 28px;
  margin-right: 34px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  height: 79px;
}
body .slider-container .swiper-slide__result-block__stats h4 {
  font-weight: 800;
}
body .slider-container .swiper-slide__footer-image {
  margin: 15px 0 25px 25px;
}
body .footer {
  background-color: white;
  width: 100%;
  margin-top: 90px;
  padding-top: 52px;
}
body .footer__container {
  margin: 52px auto;
  width: 1089px;
  height: 209px;
  display: flex;
  justify-content: space-between;
}
body .footer__container__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer__container__column .feedback-button {
  display: block;
  background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
  border-radius: 9px;
  margin-left: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin-top: 22px;
  padding: 14px 38px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: white;
}
body .footer__container__column .politic {
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-left: 12px;
}
body .footer__container__column a {
  color: black;
}
body .footer__container__column h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
}
body .footer__container__column p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
}
body .footer__rights {
  background: #2D2D2D;
  color: white;
  height: 41px;
  text-align: center;
  line-height: 41px;
}

.menu-icon-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #333333;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #333333;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #333333;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

@media (max-width: 1250px) {
  body {
    overflow-x: hidden;
  }
  body .header {
    width: 100%;
  }
  body .header .container .logo {
    width: 250px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  body .header .container .button {
    border-radius: 7px;
    padding: 12px 20px 12px 20px;
    font-weight: 400;
    font-size: 14px;
  }
  body .info-container {
    margin-left: 15px;
    margin-right: 15px;
    justify-content: unset;
    margin-bottom: 0;
    width: 80%;
    overflow: hidden;
  }
  body .info-container .text h1 {
    font-size: 35px;
  }
  body .info-container .text span {
    font-size: 50px;
  }
  body .info-container .text__buttons__button {
    font-weight: 200;
    font-size: 12px;
    border-radius: 50px;
    line-height: 40px;
    padding: 0 30px;
  }
  body .info-container .image {
    width: 40vw;
    background-repeat: no-repeat;
    background-size: contain;
  }
  body .stats-container {
    max-width: 95%;
    max-height: 230px;
    margin: 30px 30px 0 auto;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  body .stats-container .text {
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    color: #333333;
  }
  body .stats-container .stats-items {
    display: flex;
    -moz-column-gap: unset;
         column-gap: unset;
    justify-content: space-around;
    margin-top: 35px;
    height: 88px;
    align-items: center;
  }
  body .stats-container .stats-items__line {
    display: block;
    border: 1px solid #C7C7C7;
    height: 86px;
    width: 1px;
  }
  body .stats-container .stats-items__item .top-text {
    font-weight: 800;
    font-size: 40px;
    background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 0;
    line-height: 48px;
  }
  body .stats-container .stats-items__item .top-text .lower {
    font-size: 30px;
    line-height: 48px;
  }
  body .stats-container .stats-items__item .top-text .bigger {
    font-size: 50px;
    line-height: 48px;
  }
  body .stats-container .stats-items__item .low-text {
    font-weight: 500;
    font-size: 16px;
  }
  body .services {
    max-width: 95%;
    margin: 40px 30px 80px auto;
  }
  body .services__title {
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    margin-left: 15px;
  }
  body .services__list {
    flex-wrap: wrap;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
  }
  body .services__list__item {
    width: 220px;
    height: 453px;
  }
  body .services__list__item__card {
    position: relative;
    height: 378px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
  }
  body .services__list__item__card__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    display: block;
    background: #77B2D3;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    padding: 11px 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 18px;
  }
  body .services__list__item__card li {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    margin-left: 16px;
    margin-bottom: 7px;
  }
  body .services__list__item__card li .success {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(./../img/list.svg);
    background-size: contain;
    margin-right: 7px;
  }
  body .services__list__item__card .price {
    position: absolute;
    width: 100%;
    bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  body .services__list__item__card .price .bottom-line {
    width: 95%;
    margin: 0 auto;
    border: 1px solid #E2E2E2;
  }
  body .services__list__item__card .price__text {
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
  }
  body .services__list__item__card .price__text__roubles {
    font-weight: 800;
    font-size: 30px;
    background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  body .services__list__item__button {
    display: block;
    background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
    border-radius: 9px;
    padding: 14px 33px 14px 42px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin: 15px auto;
    max-width: 195px;
    text-align: center;
  }
  body .consultation {
    max-width: 95%;
    height: 513px;
    margin: 30px 10px 130px auto;
  }
  body .consultation__order {
    width: 370px;
  }
  body .consultation__order__title {
    font-size: 28px;
  }
  body .consultation__order__text {
    font-size: 12px;
  }
  body .consultation__order__name {
    display: block;
    width: 270px;
    height: 59px;
    font-size: 12px;
  }
  body .consultation__order__number {
    display: block;
    margin-left: 0;
    margin-top: 10px;
    font-size: 12px;
  }
  body .consultation__order__question {
    width: 350px;
    font-size: 12px;
  }
  body .consultation__order__accessibility {
    font-size: 12px;
  }
  body .consultation__image {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  body .consultation__image img {
    max-width: 100%;
    min-width: 200px;
  }
  body .slider-container {
    width: 90%;
    height: auto;
    margin: 41px 10px;
  }
  body .slider-container .swiper-button-prev, body .slider-container .swiper-button-next {
    color: #D1D1D1;
  }
  body .slider-container .swiper {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  body .slider-container .swiper-slide {
    width: 100%;
    height: auto;
    background: #FFFFFF;
  }
  body .slider-container .swiper-slide__logo img {
    max-width: 100%;
    height: auto;
  }
  body .slider-container .swiper-slide__footer-image {
    max-width: 100%;
    height: auto;
    margin-left: 10px;
    margin: 12px 0 9px 12px;
  }
  body .slider-container .swiper-slide__description {
    margin-top: 0px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
  body .slider-container .swiper-slide__result-block {
    margin-top: 24px;
    height: auto;
  }
  body .slider-container .swiper-slide__result-block__title {
    font-size: 14px;
    line-height: 26px;
  }
  body .slider-container .swiper-slide__result-block__stats {
    display: block;
    font-size: 12px;
    line-height: 16px;
    height: auto;
  }
  body .slider-container .swiper-slide__result-block__stats h4 {
    font-weight: 800;
  }
  body .footer {
    width: 100%;
    margin-top: 90px;
    padding-top: 10px;
  }
  body .footer__container {
    width: 95%;
    height: auto;
  }
  body .footer__rights {
    height: 31px;
    line-height: 31px;
  }
}
@media (max-width: 890px) {
  body .header .container .nav {
    display: none;
  }
  body .header .container .menu-icon-wrapper {
    display: flex;
  }
  body .header .container .visible {
    display: flex;
  }
  body .header .container .button {
    display: none;
  }
  body .header .container-mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #F7F6FF;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: unset;
  }
  body .header .container-mobile .logo {
    display: block;
    position: absolute;
    top: 10%;
    width: 70%;
    height: 80px;
    border-radius: 9px;
    background-size: contain;
  }
  body .header .container-mobile .nav {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
  }
  body .header .container-mobile .nav a {
    background-color: white;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 200px;
    border-radius: 9px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  }
  body .header .container-mobile .button {
    display: block;
    position: absolute;
    top: 85%;
    width: 70%;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  }
  body .header .container-mobile .menu-icon-wrapper {
    position: absolute;
    right: 20px;
  }
  body .info-container {
    margin-top: 30px;
  }
  body .info-container .text {
    display: block;
  }
  body .info-container .text h1 {
    font-size: 35px;
  }
  body .info-container .text span {
    font-size: 50px;
  }
  body .info-container .text__buttons__button {
    font-weight: 200;
    font-size: 12px;
    border-radius: 50px;
    line-height: 40px;
    padding: 0 30px;
  }
  body .info-container .image {
    display: none;
  }
  body .stats-container {
    max-height: unset;
    max-width: 95%;
    height: auto;
    margin: 15px auto;
    padding-bottom: 15px;
  }
  body .stats-container .text {
    font-weight: 500;
    font-size: 32px;
  }
  body .stats-container .stats-items {
    flex-wrap: wrap;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 50px;
    justify-content: space-around;
    height: auto;
  }
  body .stats-container .stats-items__line {
    display: none;
  }
  body .stats-container .stats-items__item .top-text {
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;
  }
  body .stats-container .stats-items__item .top-text .lower {
    font-size: 22px;
    line-height: 22px;
  }
  body .stats-container .stats-items__item .top-text .bigger {
    font-size: 36px;
    line-height: 36px;
  }
  body .stats-container .stats-items__item .low-text {
    font-weight: 500;
    font-size: 12px;
  }
  body .footer__container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
  }
  body .footer__container__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .footer__container__column img {
    width: 90%;
  }
  body .footer__container__column .feedback-button {
    display: block;
    background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
    border-radius: 9px;
    margin-left: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    margin-top: 22px;
    padding: 14px 38px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    color: white;
  }
  body .footer__container__column .politic {
    text-decoration: underline;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-left: 12px;
  }
  body .footer__container__column a {
    color: black;
  }
  body .footer__container__column h4 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    text-transform: uppercase;
  }
  body .footer__container__column p {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
  }
  body .footer__rights {
    font-size: 14px;
  }
}
@media (max-width: 635px) {
  body .consultation__image {
    display: none;
  }
  body .consultation__image img {
    display: none;
  }
}
@media (max-width: 465px) {
  body .info-container {
    margin-right: 0;
    width: 90%;
  }
  body .info-container .text {
    display: block;
  }
  body .info-container .text h1 {
    font-size: 25px;
  }
  body .info-container .text span {
    font-size: 40px;
  }
  body .info-container .text__buttons {
    flex-wrap: wrap;
    row-gap: 1em;
  }
}/*# sourceMappingURL=main.css.map */